{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to iris prediction</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form name="form" action="result" method="POST">{% csrf_token %}
                <h3 class="text-center"><strong>Iris Prediction</strong></h3>
                <div class="form-group">
                    <input class="form-control" required="required" type="text" name="sl" placeholder="Sepal Length" oninput="checkinput();">
                </div>
                <div class="form-group">
                    <input class="form-control" required="required" type="text" name="sw" placeholder="Sepal Width" oninput="checkinput();">
                </div>
                <div class="form-group">
                    <input class="form-control" required="required" type="text" name="pl" placeholder="Petal Length" oninput="checkinput();">
                </div>
                <div class="form-group">
                    <input class="form-control" required="required" type="text" name="pw" placeholder="Petal Width" oninput="checkinput();">
                </div>
                <span id="error"></span>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit" id="subbtn" disabled="disabled">Submit</button>
                </div>
                <h4 class="text-center"><strong>{{ result }}</strong></h4>
            </form>
        </div>
    </div>
    <script src="{% static '/main.js' %}"></script>
</body>
</html>