/* =====> new css <====== */
body {
    background: linear-gradient(-45deg, #ff906e, #e73c7e, #23a6d5, #22c9a2);
    background-size: 1000% 1000%;
    animation: gradient 7.5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.register-photo {
    /* background: #f1f7fc; */
    /* margin-top: 40px; */
    padding: 80px 0;
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url('iris2.jpg');
    background-size: cover
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0,0.5)
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: white;
    padding: 40px 60px;
    color: #486a8b
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
    .register-photo form h2 {
        border: 2px solid black;
    }

}

.register-photo form h2 {
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .btn-primary {
    background: green;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
    background: green;
}

.register-photo form .btn-primary:active {
    transform: translateY(1px)
}